<!DOCTYPE html >
<html lang="zh-cmn-Hans">
<head>

    <title>供应链金融 - 煤易贷 - 仓押管理平台</title>

<%- include("../common/headcss") %>
    <link rel="stylesheet" type="text/css" href="<%- staticPathAdmin %>/css/stylesheets/page/home.css"/>
</head>
<body>
<div class="wrapper">

    <!-- top navbar-->
<%- include("../common/header") %>


    <!-- sidebar-->
<%- include("../common/leftmenu") %>


    <!-- Main section-->
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <h3>echart demo
                <small>Standard and custom elements for any form</small>
            </h3>

            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">货值趋势图</div>
                <div class="panel-body">
                    <div id="main" style="width: 100%;height: 400px;border: 1px solid gray;"></div>
                </div>
            </div>
            <!-- END panel-->
        </div>
    </section>



    <!-- Page footer-->
    <%- include("../common/footer") %>

</div>




<script src="<%- staticPathAdmin %>/js/common.bundle.js"></script>
<script src="<%- staticPathAdmin %>/js/demoEcharts.bundle.js"></script>

<!-- 开发环境下 IE8 环境使用 /page-temp-bundle/ 文件 -->

<!--[if lt IE 9]>
<script src="<%- staticPathAdmin %>/js/page-temp-bundle/common.bundle.js"></script>
<script src="<%- staticPathAdmin %>/js/page-temp-bundle/demoEcharts.bundle.js"></script>

<![endif]-->




</body>
</html>
